.home-title {
  margin-top: 10px;
  text-align: left;
  font-size: 4em;
  font-weight: 300;
}

.home-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: solid 2px;
  height: 110px;
}

.fav-link {
  align-self: center;
  margin-right: 10px;
}

a {
  text-decoration: none;
}
